{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDEA SITE - Idea retrieve</title>
  </head>
  <body>
    <header>
      <div><a href="/" class="top_left">My<span>SW Idea</span>Manage</a></strong></div>
      <div class="top_right">
        <a href="{% url 'posts:create' %}" class="idea_register">아이디어 등록</a>
        <a href="/" class="idea_manage">아이디어 관리</a>
        <a href="{% url 'posts:devtool_create'%}" class="devtool_create">개발툴 등록</a> 
        <a href="{% url 'posts:devtool_list'%}" class="devtool_list">개발툴 관리</a> 
      </div>
    </header>
    <div class="retrieve_box">
      <b><span>DevTool Detail💡</span></b>
      <p>개발툴 세부내용 페이지입니다. 자신이 다룰 수 있는 개발툴에 대한 상세내용을 확인해보아요.</p>
        <span><br><input name="name" placeholder="개발툴 이름" value="{{tool.name}}"/></span>
        <br /> 
        <span>개발툴 설명: <textarea name="devtool_content" placeholder="설명">{{tool.tool_content}}</textarea></span>
        <br /><hr>
      </form>

      <div>
        <a href="{% url 'posts:devtool_update' tool.pk %}">수정</a>
      </div>
      <div>
        <a href="{% url 'posts:devtool_list'%}">목록</a>
      </div>
      <form action="{% url 'posts:devtool_delete' tool.pk %}" method="post">
        {% csrf_token %}
        <input type="submit" , value="삭제" />
      </form>
    </div>  
  </body>
</html>
