{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDEA SITE - Idea retrieve</title>
  </head>
  <body>
    <header>
      <div><a href="/" class="top_left">My<span>SW Idea</span>Manage</a></strong></div>
      <div class="top_right">
        <a href="{% url 'posts:create' %}" class="idea_register">아이디어 등록</a>
        <a href="/" class="idea_manage">아이디어 관리</a>
        <a href="{% url 'posts:devtool_create'%}" class="devtool_create">개발툴 등록</a> 
        <a href="{% url 'posts:devtool_list'%}" class="devtool_list">개발툴 관리</a> 
      </div>
    </header>
    <div class="retrieve_box">
      <b><span>Idea Detail💡</span></b>
      <p>아이디어 세부내용 페이지입니다. 당신이 구현하려 한 아이디어들을 자세히 살펴보세요.</p>
      <article>
          {% if post.photo %}
          <p>
              <img src="{{ post.photo.url }}"/>
          </p><br>
          {% endif %}
          <h2>{{post.title}}</h2>
          <div>
              <p> 1. 아이디어 관심도 {{ post.interset }}</p>
              <p><a href="{% url 'posts:devtool_retrieve' post.pk%}"> 2. 예상 개발툴 {{ i.devtool }}</a></p>
              <p> 3. 아이디어 설명 {{ post.content }}</p>
          </div>
      </article>
      <div>
        <a href="{% url 'posts:update' post.pk%}">수정</a>
      </div>
      <div>
        <a href="/">목록</a>
      </div>
      <form action="{% url 'posts:delete' post.pk%}" method="post">
        {% csrf_token %}
        <input type="submit" , value="삭제" />
      </form>
    </div>  
  </body>
</html>
