{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDEA SITE - MAIN PAGE</title>
  </head>
  <body>
    <header>
      <div><a href="/" class="top_left">My<span>SW Idea</span>Manage</a></strong></div>
      <div class="top_right">
        <a href="{% url 'posts:create' %}" class="idea_register">아이디어 등록</a>
        <a href="/" class="idea_manage">아이디어 관리</a>
        <a href="{% url 'posts:devtool_create'%}" class="devtool_create">개발툴 등록</a> 
        <a href="{% url 'posts:devtool_list'%}" class="devtool_list">개발툴 관리</a>  
      </div>
    </header>
    <div class="mainlist_box">
      <b><span>Idea List💡</span></b>
      <p>나의 아이디어를 잊지 말고 기록해보세요</p>
      {% for i in posts %}
        <article>
            {% if i.photo %}
            <p>
                <img src="{{ i.photo.url }}"/>
            </p><br>
            {% endif %}
            <p><a href="{% url 'posts:retrieve' i.pk %}">{{i.title}}</a></p><br
            <div>
                <p>예상 개발 툴: {{i.title}}</p><br>
                <p>아이디어 관심도: {{ i.interset }}</p>
            </div>
        </article>
        <hr>
      {% endfor%}
    </div>  
  </body>
</html>
