{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDEA SITE - Devtool_list</title>
  </head>
  <body>
    <header>
      <div><a href="/" class="top_left">My<span>SW Idea</span>Manage</a></strong></div>
      <div class="top_right">
        <a href="{% url 'posts:create' %}" class="idea_register">아이디어 등록</a>
        <a href="/" class="idea_manage">아이디어 관리</a>
        <a href="{% url 'posts:devtool_create'%}" class="devtool_create">개발툴 등록</a> 
        <a href="{% url 'posts:devtool_list'%}" class="devtool_list">개발툴 관리</a> 
      </div>
    </header>
    <div class="tlist_box">
      <b><span>Devtool List🛠️</span></b>
      <p>개발툴 목록 페이지입니다. 자신이 사용가능한 개발들의 목록을 확인해 보세요.</p>
      {%for i in tools %}
        <article>
            <a href="{% url 'posts:devtool_retrieve' i.pk %}"> {{i.name}} </a>
            <span>{{ i.type }}</span>
            <p> {{ i.tool_content }}</p>
            </div>
        </article>
        <hr>
      {% endfor%}
    </div>  
  </body>
</html>
