{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>IDEA SITE - MAIN PAGE</title>
  </head>
  <body>
    <header>
      <div><a href="/" class="top_left">My<span>SW Idea</span>Manage</a></strong></div>
      <div class="top_right">
        <a href="/" class="idea_register">아이디어 등록</a>
        <a href="/" class="idea_manage">아이디어 관리</a>
        <a href="/" class="tool_register">개발툴 등록</a> <!--개발툴 등록 html 추가-->
        <a href="/" class="tool_manage">개발툴 관리</a>  <!--개발툴 관리 html 추가-->
      </div>
    </header>
    <div class="iregister_box">
      <b><span>Idea Register💡</span></b>
      <p>아이디어 등록 페이지입니다. 아이디어를 잊지 말고 기록해주세요!</p>
      <form action="posts/create/" method="POST" enctype="multipart/form-data">
        <hr />

        {% csrf_token %}
        <span>아이디어명: <br><input name="title" placeholder="아이디어 제목" value="{{Post.title}}"/></span>
        <br />
        <input name="year" placeholder="개봉년도" type="number" />
        <br />
        <span>아이디어 설명: <textarea name="content" placeholder="설명"></textarea></span>
        <br />
        <span>아이디어 관심도: <input name="interest" placeholder="관심도" /></span>
        <br />
        <span>예상 개발툴:
            <select name="devtool">
                <option value="django">django</option>
                <option value="react">react</option>
            </select>
        </span>
        <br />
        
        <br />
        <div>
          <input type="submit" value="Save" />
        </div>
      </form>
    </div>  
  </body>
</html>
