{% load static %}
<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>myMovuereviews</title>
    <link rel="stylesheet" href="{% static 'post/post_list.css' %}" />
  </head>
  <body>
    <header>
      <div>
        <a href="/" class="top_left">🎬my<span>Movie</span>reviews</a>
      </div>
      <div><a href="/post/" class="top_right">Add a New review</a></div>
    </header>
    <hr />
    <div class="content_container">
      {% for i in posts %}
      <div class="m_box">
        <img scr="{{i.pic.url}}" alt="movie_poster" />
        <br /><b><a href="/post/{{i.pk}}">{{i.title}} </a></b> <br />
        <small>개봉년도 {{i.year}} </small><br />
        <small>장르 {{i.genre}} </small><br />
        <small>별점 {{i.star}} </small>
      </div>
      {% endfor %}
    </div>
  </body>
</html>
