header {
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-decoration: underline;
  align-items: center;
}

.top_left {
  text-decoration: none;
  font-weight: 600;
  font-size: 30px;
  color: black;
  margin: 7px;
}

.top_right {
  text-decoration: none;
  color: black;
  font-size: 15px;
  margin: 7px;
  font-weight: 600;
}
span {
  color: rgb(237, 72, 85);
}

.content_container {
  display: flex;
  justify-content: space-between;
  padding: 12px;
  flex-wrap: wrap;
  margin: 70px;
}

.m_box {
  padding: 13px;
  background-color: rgb(232, 232, 232);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 3px solid rgb(232, 232, 232);
  font-size: 15px;
  width: 20%;
  margin-bottom: 40px;
}

.m_box img {
  width: 200px;
  height: 300px;
}

.m_box a {
  font-size: 15px;
  color: black;
  font-weight: 100;
  text-decoration: none;
}
