/*Cascading Style Sheet*/
/*선택자(selector)*/

div#header-center {  /*디브가 굳이 없어도 괜찮*/
margin: 0 auto; 
width: 1080px;
}

div#zerocho{ /*헤더는 생략이 안 됨*/
margin: 0 auto;
width: 1080px;

}

#header-search > h1 {  /*디브가 굳이 없어도 괜찮. 부등호 표시 없어도 자손을 지칭하기 때문에 똑같은 효과*/
  width: 280px; 
  display: inline-block;
}

#header-search h2 {    /*선택자를 지칭해야 하고, 속성들을 알아야 함(외우기).*/ 
    display: none;
}

#header-search fieldset {
    width: 520px;
    display: inline-block;
}

/*#header-center h1 {
자손선택자
}*/ 